body,
.mui-body {
    background-color: #eee;
    font-size: 15px;
}

.mui-container,
.mui-container-fixed {
    padding-top: 15px;
    padding-bottom: 15px;
}

#content-wrapper h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#content-wrapper > tbody > tr > td {
    padding-bottom: 15px;
}

#content-wrapper .mui--divider-top {
    padding-top: 15px;
}

#last-cell {
    padding-bottom: 15px;
}